---
const { platform, url } = Astro.props;
---

<a 
    href={url} 
    target="_blank" 
    rel="noopener noreferrer"
>
    {platform}
</a>

<style>
  a {
    padding: 0.5rem 1rem;
    color: white;
    background-color: #0f766e;
    text-decoration: none;
  }

  a:hover {
    background-color: #115e59;
    color: white;
}
</style>